<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
    <PropertyGroup>
        <UserName>$badge-factory</UserName>
        <WebPublishMethod>ZipDeploy</WebPublishMethod>
        <PublishProvider>AzureWebSite</PublishProvider>
        <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
        <LastUsedPlatform>Any CPU</LastUsedPlatform>
        <SiteUrlToLaunchAfterPublish>http://badge-factory.azurewebsites.net</SiteUrlToLaunchAfterPublish>
        <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
        <ResourceId>/subscriptions/687537f9-583e-498a-bcf2-0001118f7b2e/resourceGroups/stateless-rg-we/providers/Microsoft.Web/sites/badge-factory</ResourceId>
        <_SavePWD>True</_SavePWD>
        <PublishUrl>https://badge-factory.scm.azurewebsites.net/</PublishUrl>
    </PropertyGroup>
</Project>